
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'poopins',sans-serif; 
 }
:root{
    --text-color:#f5f5f5;
    --hover-color:#28d23c;
    --social-icon:#ffe100;
    --bg-color:#082515;
    --secon-bg-color:#292e33;
   
   
} 
#menu-icon{
    font-size: 2.5rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background: var(--hover-color);
    border-radius: 3px;
    color: var(--secon-bg-color);
    display: none;
}
body{
    color:var(--text-color);
   background-color: var(--bg-color);

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    padding: 10px 5%;
    background: linear-gradient(to left,
    #0b0b0bdc,
    rgba(66, 64, 64, 0.897),
    rgba(0, 0, 0, 0.897));
    
}
.logo{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}
.logo span{
    color: var(--social-icon);
}
.navlist {
    display: flex; 
    justify-content: space-around ;
}
.navlist a {
    font-weight: 200;
    font-size: 24px;
    padding: 10px 20px;
    display: block; 
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.navlist a:hover {
    transform: scale(1.2);
    text-decoration: underline  #ff00aa;
}

.home{
   
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(to left,
                    #0b0b0bdc,
                    rgba(66, 64, 64, 0.897),
                    rgba(0, 0, 0, 0.897));
                  
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 4%;
}
.home-content{
    max-width: 600px;
}
.home-content p{
    font-size: 20px;
    font-weight: 500;
    color: rgb(252, 252, 252)
}
.home-content h1{
    font-size: 40px;
    font-weight: 700;
    margin: -3px 0;
    color: rgb(255, 153, 0);
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
}
.developerText{
    color: #0ef;
}
.home img{
    width: 30%;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px #ffe100;
    filter: saturate(1);
    
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffea00;
    border-radius: 50%;
    font-size: 20px;
    color: #f5f5f5;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.home-sci a:hover {
    background: #ffea00;
    color: black;
    box-shadow: 0 0 40px #28d23c;
    transform: scale(1.2);
} 
.btn_box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.btn_box:hover{
    background: #f5f5f5;
    color: black;
    box-shadow: 0 0 20px #0ef;
}
.about_box{
    display: inline-block;
    padding: 12px 28px;
    background: #4eca43;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.about_box:hover{
    background: #f5f5f5;
    color: black;
    box-shadow: 0 0 20px #4eca43
}
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    background: linear-gradient(to left,
                    #0b0b0bdc,
                    rgba(66, 64, 64, 0.897),
                    rgba(0, 0, 0, 0.897));
                  
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 70px 10% 4%;
}
.about img{
    width: 60%;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px #4eca43;
    filter: saturate(1);

}
.about-text h2{
    font-size: 60px;
}
.about-text h2 span{
    color: #ffe100;
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.service{
    align-items: center;
    background: linear-gradient(to left,
                    #0b0b0bdc,
                    rgba(66, 64, 64, 0.897),
                    rgba(0, 0, 0, 0.897));
                  
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 70px 10% 4%;
   
}


.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 10px;
}
.sub-title span{
    color: #28d23c;
} 

.services-list{
    display: flex; 
    grid-gap: 40px; 
    margin-top: 2px;

}
.iteam{
    margin: 50px;
}
.iteam p{
    text-align: justify;
}
.services-list .iteam {
    background-color: transparent;
    width:40vh; 
    padding: 20px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s,transform 0.5s; 
    box-shadow: 1px 1px 20px #4a69cdf7; 
} 
.services-list div:hover{
    transform: translateY(-15px);
    box-shadow:0 0 20px #ffea00;
}
.services-list div i{
    font-size: 30px; 
    margin-bottom: 20px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}
.services-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read{
    display: inline-block;
    padding: 12px 28px;
    background:#28d23c;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.read:hover{
    background: #fff;
    color: black;
    box-shadow: 0 0 20px #28d23c
}
.skills{
    align-items: center;
    background: linear-gradient(to left,
                    #0b0b0bdc,
                    rgba(66, 64, 64, 0.897),
                    rgba(0, 0, 0, 0.897));
                  
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 70px 10% 4%;
    
}

.allskills{
    display:flex;
    justify-content: space-between;
} 
.skill-name{
    text-align: center;
    font-size: 60px;
    padding-bottom: 10px;
    color: #28d23c;
}
.skill-name span{
    color: #ffea00;
}

.continer1{
    width: 400px;
    height: 500px;
} 

 .heading1{
    text-align:left;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness:5px;
    margin-bottom:50px;
   
}

.bar{
    font-size:23px;
} 
.technical-bars .bar{
     margin-top: 35px 0;  
     
} 
.technical-bars .bar :first-child{
    margin-top: 0;
}
.technical-bars .bar :last-child{
    margin-bottom: 0;
}
.technical-bars .bar .info{
    margin-bottom: 5px;
}

.technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation:  animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0); 
    transform-origin: left; 

}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
 }  

.technical-bars .bar .progress-line span {
    height: 100%;
    background-color:#ffea00;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left; 
}   
.progress-line.html span{
    width: 90%;
}
.progress-line.css span{
    width:40%;
}
.progress-line.javascript span{
    width: 70%;
}
.progress-line.java span{
    width: 60%;
}
.progress-line.sql span{
    width: 80%;
}
.progress-line span::after{ 
    position: absolute;
    padding: 1px 8px;
    background-color: #000000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px; 
}
.progress-line.html span::after{
    content: "90%";
} 
.progress-line.css span::after{
    content: "40%";
} 
.progress-line.javascript span::after{
    content: "70%";
} 
.progress-line.java span::after{
    content: "60%";
} 
.progress-line.sql span::after{
    content: "80%";
} 
.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
@keyframes showText {
    100%{
        opacity: 1;
    }
} 


/* skils Right */
.Professional{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.Professional .box{
    margin-top: 50px ;
}
.box{
    position: relative;
    margin: 10px 0;
    flex: 1 1 15rem;
}
.box .text{
    text-align: center;
    color: #fff;
    font-size: 1rem;

}
.box .text big{
    font: 400;
    letter-spacing: 1px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
} 
 .box .text small{
    display: block;
    font-size: 17px;
    font-weight: 500;
} 
 .circle{
    width: 100;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

} 
 .circle .points{
    width: 2px;
    height: 10px;
    background-color: var(--bg-color);
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-45px);
    
 }

 @keyframes glow{
    0%{
        background: var(--bg-color);
        box-shadow: none;
    }
    100%{
        background: var(--hover-color);
        box-shadow: var(--neno-box-shadow);
    }
 }
.points.marked{
    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i)*00.05s);
} 


@keyframes glow{
    0%{
        background-color:var(--hover-color);
        box-shadow: none;
    }
    100%{
        background: var(--hover-color);
        box-shadow: var(--hover-color);
    }
}

.projects{
    align-items: center;
    background: linear-gradient(to left,
                    #0b0b0bdc,
                    rgba(66, 64, 64, 0.897),
                    rgba(0, 0, 0, 0.897));
                  
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 70px 10% 4%;
}

 .projects-content{
    display: flex;
    margin-top: 13%;
   
}
.row{
     position: relative;
     overflow: hidden; 
    border-radius: 8px;
    cursor: pointer; 
}
.row img{
    width: 90%;
    border-radius: 8px;
}
.contact{
    align-items: center;
    background: linear-gradient(to left,
                    #0b0b0bdc,
                    rgba(66, 64, 64, 0.897),
                    rgba(0, 0, 0, 0.897));
                  
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 70px 10% 4%;
   
}
.contactdiv{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem; 
    margin-top: 5px;
}
.contact-text h2{
    font-size: 70px;
    line-height: 2;
} 
.contact-text h2 span{
    color: #ffea00;
}

.contact-text h4{
    margin: 15px 0;
    color: rgb(228 228 228);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    color: rgb(177,177,177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 30px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li i:hover{
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}


.contact-form form{
    position: relative;
}  


 .contact-form form input ,form textarea{
        border: none;
        outline: none;
        width: 90%;
        padding: 18px;
        background: #555557;
        color: #000000; 
        font-weight: 600;
        margin-bottom: 0.5rem;
        border-radius: 0.5rem; 
}
.contact-form textarea{
    resize: none;
    height: 220px;
} 
.contact-form form .send{
        background: transparent;
        border: 2px solid #28d23c; 
        border-radius: 10px;
        font-size: 20px;
        color: #0ef;
        text-decoration: none;
        margin: 30px 15px 30px 0;
} 
.contact-form form .send:hover{
   
    color: #fff;
    box-shadow: 0 0 20px #28d23c;
}



